# Ignore node_module directories
/client/node_modules/
/server/node_modules/

# Ignore environment variable file
.env

# Ignore build output directories
client/dist/
server/dist/

# Ignore the License file
LICENSE
